<form id="web-pay-form-{{ index }}" class="web-pay-form" action="{{ endpointURL }}" method="post">
    <input type="hidden" name="*scart">
    <input type="hidden" name="wsb_version" value="2">
    <input type="hidden" name="wsb_language_id" value="russian">
    <input type="hidden" name="wsb_storeid" value="{{ storeId }}" >
    <input type="hidden" name="wsb_store" value="{{ storeName }}" >
    <input type="hidden" name="wsb_order_num" value="{{ orderId }}" >
    <input type="hidden" name="wsb_test" value="{{ isTest }}" >
    <input type="hidden" name="wsb_currency_id" value="{{ currencyCode }}" >
    <input type="hidden" name="wsb_seed" value="{{ seed }}">

    <input type="hidden" name="wsb_return_url" value="{{ returnUrl }}">
    <input type="hidden" name="wsb_cancel_return_url" value="{{ cancelReturnUrl }}">

    {% if notifyUrl %}
    <input type="hidden" name="wsb_notify_url" value="{{ notifyUrl }}">
    {% endif %}

    <input type="hidden" name="wsb_email" value="{{ email }}" >
    <input type="hidden" name="wsb_phone" value="{{ phone }}" >

    {% if signature %}

    <input type="hidden" name="wsb_signature" value="{{ signature }}" >

    {% endif %}

    {#<input type="hidden" name="wsb_tax" value="0">#}
    {#<input type="hidden" name="wsb_shipping_name" value="{{ shippingName }}" >#}
    {#<input type="hidden" name="wsb_shipping_price" value="{{ shippingPrice }}" >#}
    {#<input type="hidden" name="wsb_discount_name" value="" >#}
    {#<input type="hidden" name="wsb_discount_price" value="0" >#}

    {% for key, item in items %}
        <input type="hidden" name="wsb_invoice_item_name[{{ key }}]" value="{{ item.name }}">
        <input type="hidden" name="wsb_invoice_item_quantity[{{ key }}]" value="{{ item.quantity }}">
        <input type="hidden" name="wsb_invoice_item_price[{{ key }}]" value="{{ item.price }}">
    {% endfor %}

    <input type="hidden" name="wsb_total" value="{{ total }}" >

    <input type="hidden" name="wsb_service_number" value="{{ serviceNumber }}">
    <input type="hidden" name="wsb_service_account" value="{{ serviceAccount }}">

    <input type="submit" value="Купить">

</form>


